<html lang="en" >
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Angular Material style sheet -->
    <link rel="stylesheet" href="static/lib/node_modules/angular-material/angular-material.css">
	<link rel="stylesheet" href="static/css/main.css">
  <title>SEIL Smart Door</title>
</head>
<body ng-app="SmartDoor" ng-cloak  ng-controller="HomeCtrl">
  <!--
    Your HTML content here
-->  
<div ng-include="'static/templates/toolbar.html'"></div>
<div ng-include="include_url"></div>



<!-- Angular Material requires Angular.js Libraries -->
<script src="static/lib/node_modules/angular/angular.min.js"></script>
<script src="static/lib/node_modules/angular-animate/angular-animate.min.js"></script>
<script src="static/lib/node_modules/angular-aria/angular-aria.min.js"></script>
<script src="static/lib/node_modules/angular-messages/angular-messages.min.js"></script>
<script src="static/lib/node_modules/angular-resource/angular-resource.min.js"></script>
<script src="static/lib/node_modules/angular-route/angular-route.min.js"></script>

<!-- Angular Material Library -->
<script src="static/lib/node_modules/angular-material/angular-material.min.js"></script>
<!-- Angular MQTT Library -->
<script src="static/lib/node_modules/ngmqtt/ngmqtt.js"></script>
<script src="static/lib/node_modules/ngmqtt/browserMqtt.js"></script>
<!-- Your application bootstrap  -->
<script src="static/js/app.js"></script>
<script src="static/js/routes.js"></script>
<script src="static/js/services.js"></script>
<script src="static/js/controllers.js"></script>


</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at https://material.angularjs.org/license.
-->

