<md-content layout layout-align="center top" ng-class="event">
<md-card id="entry-card">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Entry in progress</span>

        <!-- <span class="md-subhead">Large</span> -->
      </md-card-title-text>
    </md-card-title>
<!--         <md-card-actions layout="row" layout-align="end center">
      <md-button>Action 1</md-button>
      <md-button>Action 2</md-button>
    </md-card-actions> -->
  </md-card>
<div ng-include="'static/images/Smart Door.svg'" flex="60"></div>
<md-card id="exit-card">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Exit in progress</span>
        <!-- <span class="md-subhead">Large</span> -->
      </md-card-title-text>
    </md-card-title>
<!--         <md-card-actions layout="row" layout-align="end center">
      <md-button>Action 1</md-button>
      <md-button>Action 2</md-button>
    </md-card-actions> -->
  </md-card>
</md-content>